<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="/css/materialize.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <a href="javascript:login.init();" class="waves-effect red btn btn_social" data-social="google">
        <i class="material-icons left">account_circle</i> Login with Google+
    </a>
    <a href="javascript:login.init();" class="waves-effect black btn btn_social" data-social="github">
        <i class="material-icons left">account_circle</i> Login with GitHub
    </a>
    <a href="javascript:login.init();" class="waves-effect blue btn btn_social" data-social="facebook">
        <i class="material-icons left">account_circle</i> Login with FaceBook
    </a>
    <script src="/js/login.js"></script>
</body>
</html>